<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user : ${users}">
            <th scope="row" th:text="${user.userId}">用户编号</th>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userAge}"></td>
            <td th:text="${user.userInfo}"></td>
            <td th:text="${user.userHobby}"></td>
            <td th:text="${#dates.format(user.userTime,'yyyy-MM-dd')}"></td>
            <td th:text="${user.userBirthday}"></td>


            <td><a th:href="@{/toEdit(id=${user.userId})}">edit</a></td>
            <td><a th:href="@{/delete(id=${user.userId})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/user/toAdd}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>