<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>修改用户</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/edit}" th:object="${user}"  method="post">
        <input type="hidden" name="userId" th:value="*{userId}" />

        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">userName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userName"  id="userName" placeholder="userName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userAge" class="col-sm-2 control-label" >userAge</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userAge" id="userAge" placeholder="userAge"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userInfo" class="col-sm-2 control-label">userInfo</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userInfo"  id="userInfo" placeholder="userInfo"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userHobby" class="col-sm-2 control-label">userInfo</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userHobby"  id="userHobby" placeholder="userHobby"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userTime" class="col-sm-2 control-label">userTime</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userTime"  id="userTime" placeholder="userTime"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userBirthday" class="col-sm-2 control-label">userBirthday</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userBirthday"  id="userBirthday" placeholder="userBirthday"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a href="/toAdd" th:href="@{/list}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>
